*.sw[opnm]
.DS_Store
/.virtualenv
.ipynb_checkpoints
*.pyc
parser/
/stanford-corenlp-*
*.db

tutorials/intro/checkpoint

tutorials/intro/LR_0-0.data-00000-of-00001

tutorials/intro/SpouseLR-0.meta

tutorials/intro/SpouseLR-0.index

tutorials/intro/SpouseLR.info

tutorials/intro/LR_0-0.index

tutorials/intro/LR_0-0.meta

tutorials/intro/LR_0.info

tutorials/intro/SpouseLR-0.data-00000-of-00001
